#main{
    font-family: 'Oswald', sans-serif; 
}
#header .path{
    background-color: #F2EEED;
    text-transform: uppercase;
    color: #222B53;
}

  /*--------------------------------------------------------------
# Section checkout
--------------------------------------------------------------*/
#checkout .contact-form .gen-area{
height: 43px;
border-radius: 0px;
}
#checkout  .btn-back{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background-color: white;
    border: 2px solid rgb(182, 177, 177);
    color: rgb(110, 110, 110);
    transition: 0.5s;
}
#checkout   .btn-back:hover{
    color: #026467;
    background-color: #93BFBE;
    
}
.special-item-pq .value-button {
    display: inline-block;
    border-radius: 0px;
    margin: 0px;
    width: 30px;
    font-size: 19px; 
    text-align: center;
    
   font-weight: 700;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media (max-width: 575px) {
  
   .special-item-pq .value-button {
     
     width: 15px;
     
   }
  
 }
  
 .special-item-pq .value-button:hover {
    cursor: pointer;
  }
  
 .special-item-pq form #decrease {
    margin-right: -4px;
    
  }
  
 .special-item-pq form #increase {
    margin-left: -4px;
    
  }
  
 .special-item-pq form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
 .special-item-pq input#number {
    text-align: center;
    border: none;
  
   
    width: 20px;
    
  }
  
 .special-item-pq input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  #basket .basket-det .btn-price{
    display: flex;
 }
 @media (max-width: 575px) {
  
    #basket .basket-det .btn-price{
        display: block;
     }
   
  }

  #checkout .p-form{
    border: 2px solid rgb(182, 177, 177);
    }
    #checkout  .to-pay{
      border-right: 2px solid rgb(182, 177, 177);
      }


    #checkout .bdp a {
      color: #878786;
      font-size: 20px;
     background-color: #E6EBEF;
      }
    #checkout .bdp a:focus {
      color: #026467;
      border: 0px;
      }
      
  #checkout .bdp a .fa-caret-up{
    color: white;
    font-size: 40px;
   display: none;
   margin-top: -15px;
   margin-bottom: -20px;
    }
      #checkout .bdp a:focus .fa-caret-up{
      
        display: block;
       }